body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.okok {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 200px 0px 0px 0px
}

.contact-info, .contact-form {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.contact-info h2, .contact-form h2 {
    color: #333;
    text-align: center;
}

.map {
    text-align: center;
    margin-bottom: 20px;
}

.address {
    display: flex;
    flex-direction: column;
}
.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

.contact-form button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}